<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elephant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1164,966}</string>
                <key>spriteSourceSize</key>
                <string>{1164,966}</string>
                <key>textureRect</key>
                <string>{{0,0},{1164,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elephant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1164,966}</string>
                <key>spriteSourceSize</key>
                <string>{1164,966}</string>
                <key>textureRect</key>
                <string>{{0,966},{1164,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>elephant_walk.png</string>
            <key>size</key>
            <string>{1164,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4f70e80631d44876283c22ffd9331a9:1e806a0256cca8ee70d15fbb6f9d5222:0d8d0984a157ffcfb8db5847271368b8$</string>
            <key>textureFileName</key>
            <string>elephant_walk.png</string>
        </dict>
    </dict>
</plist>
